
*{
    margin: 0;
    padding: 0;
}
header nav .container ul li a {
    color:white;
}
.banner {
    min-height: 60vh;
    background-image: url('image/download.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     align-content: center;
}
.banner .container .content {
   background-color: #f70920f5;
   border-radius: 10px;
   backdrop-filter: blur;

}
.container h2{
    text-align: center;
    color:white;
    text-decoration: underline;
}
